/* 
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

* {
  box-sizing: border-box;
}

body {
  padding: 48px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  color: #2e2f42;
}

button {
  outline: none;
  border: none;
}
.is-active {
  background-color: #4e75ff;
  color: #ffffff;
}
#datetime-picker,
[data-start] {
  width: 75px;
  height: 40px;
  padding: 8px 16px 8px 16px;
  gap: 10px;
  border-radius: 8px;
  letter-spacing: 0.04em;
  border-color: #cfcfcf;
}

#datetime-picker {
  width: 272px;
  height: 40px;
  gap: 8px;
  border: 1px solid #808080;
  padding: 7px 15px;
}

#datetime-picker:hover {
  border: 1px solid #000000;
}

#datetime-picker:focus {
  border: 1px solid #4e75ff;
}
.container-timer {
  display: flex;
  justify-content: center;
}
.timer {
  margin-top: 32px;
  display: flex;
  gap: 24px;
}

.field {
  text-align: center;
}

.value {
  display: block;
  line-height: 1.2;
  font-size: 40px;
  letter-spacing: 0.04em;
}

.label {
  display: block;
}

/*================ snackbar ===================*/

fieldset + button {
  all: unset;
}

form {
  width: 360px;
}

form input,
form label,
form legend,
form button {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: #2e2f42;
  cursor: pointer;
}

.form-label {
  display: block;
  text-align: start;
  width: 100%;
  margin: 0;
  letter-spacing: 0.04em;
}

form input[name='delay'] {
  display: block;
  margin-top: 8px;
  border-radius: 4px;
  border: 1px solid #808080;
  width: 100%;
  padding: 8px 16px;
  letter-spacing: 0.04em;
  transition: border-color 200ms linear;
}

form input[name='delay']:hover {
  border-color: #000000;
}

form input[name='delay']:focus {
  border-color: #4e75ff;
  outline: none;
}

form fieldset {
  display: flex;
  justify-content: space-between;
  margin: 16px 0 0 0;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 15px 44px 2px 50px;
}

form legend {
  letter-spacing: 0.04em;
  text-align: left;
}

.form-radio-label {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 6px;
}

form input[name='state'] {
  display: block;
  width: 20px;
  height: 20px;
}

form button {
  margin-top: 24px;
  border-radius: 8px;
  width: 100%;
  padding-block: 8px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  background-color: #4e75ff;
  transition: background-color 200ms linear;
}

form button:hover {
  background-color: #6c8cff;
}
